if SHIELD_JISAKU_1_LEFT

config ZMK_KEYBOARD_NAME
    default "jisaku_1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_JISAKU_1_LEFT || SHIELD_JISAKU_1_RIGHT

config ZMK_SPLIT
    default y

endif
